<div class="col-lg-12">
  <div class="panel panel-info">
      <div class="panel-heading">
         PublicPage
      </div>
      <div class="panel-body">
        <h3>PublicPage</h3>
      </div>
  </div>
</div>
